<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compensar</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>

   <div class="container">

      <header>
          <nav class="Menu">
              <ul>
                  <li><a href="../index.html">Inicio</a></li>
                  <li><a href="">Contactos</a></li>
                  <li><a href="servicios.html">Servicios</a></li>
              </ul>
          </nav>
      </header>

      <main>
        <img src="../img/compensar_3.jpg" alt="">
      </main>

      <div class="form-container">
        <form action="/action_page.php">

          <div class="form-group">
            <label for="cc">CC:</label>
            <input type="number" id="cc" name="cc" placeholder="Número de cédula">
          </div>

          <div class="form-group">
            <label for="nombres">Nombres:</label>
            <input type="text" id="nombres" name="nombres" placeholder="Tu nombre completo">
          </div>

          <div class="form-group">
            <label for="apellidos">Apellidos:</label>
            <input type="text" id="apellidos" name="apellidos" placeholder="Tus apellidos">
          </div>

          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="correo@ejemplo.com">
          </div>

          <div class="form-group">
            <label for="usuario">Usuario:</label>
            <input type="text" id="usuario" name="usuario" placeholder="Nombre de usuario">
          </div>

          <div class="form-group">
            <label for="contrasena">Contraseña:</label>
            <input type="password" id="contrasena" name="contrasena" placeholder="••••••••">
          </div>

          <input type="submit" value="Enviar" class="btn-submit">

        </form>
      </div>

      <footer>
        
        <p class="autor">
         Página creada netamente para fines educativos hecha por:<strong>FRANCISCO RINCÓN</strong>
        </p>
        <div class="redes">
          <a href="https://www.facebook.com/Compensarinfo/?locale=es_LA" target="_blank">
            <img src="../img/facebook.png" alt="Facebook">
          </a>
          <a href="https://www.instagram.com/compensar_info/" target="_blank">
            <img src="../img/instagram.jpg" alt="Instagram">
          </a>
             <a href="https://x.com/Compensar_info" target="_blank">
            <img src="../img/x.jpg" alt="X">
          </a>
        </div>
      </footer>

   </div>

</body>
</html>
