<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compensar</title>
    <link rel="stylesheet" href="../CSS/style.css">
</head>
<body>

   <div class="container">

      <header>
          <nav class="Menu">
              <ul>
                  <li><a href="../index.html">Inicio</a></li>
                  <li><a href="contactos.html">Contactos</a></li>
                  <li><a href="">Servicios</a></li>
              </ul>
          </nav>
      </header>

      <main>
        <img src="../img/compensar_1.png" alt="">
        <img src="../img/compensar_2.jpg" alt="">

        <div class="main_principal">
          <h3>Informacion</h3>

          <p>Somos una entidad de protección social integral, privada y sin ánimo de lucro, comprometida con el mejoramiento de la calidad de vida de los trabajadores y sus familias, así como de otras poblaciones vulnerables, lo que redunda en la productividad empresarial y en la consolidación de una sociedad más sana, equitativa y con igualdad de oportunidades para todos.</p>

          <h3>Nuestra historia</h3>
           
          <p>
          15 de noviembre de 1978</p>

          <p>Nacimos como una iniciativa de la Fundación Círculo de Obreros, fundada en 1911 por un sacerdote jesuita con la visión de promover el ahorro entre los trabajadores. Al principio, éramos 16 colaboradores trabajando en oficinas tomadas en arriendo en la calle 59 con carrera 11, en Bogotá, consolidando de esta manera una nueva alternativa en el sector de las Cajas de Compensación Familiar, cuando las demás llevaban más de 20 años de trayectoria. Comenzamos con 1.728 trabajadores afiliados y hoy tenemos el orgullo de contar con 2.7 millones, entre trabajadores y beneficiarios. Quienes nos confían su bienestar integral y el de sus familias. </p>

        </div>
      </main>

      <footer>
        
        <p class="autor">
          Página creada netamente para fines educativos hecha por:<strong>FRANCISCO RINCÓN</strong>
        </p>
        <div class="redes">
          <a href="https://www.facebook.com/Compensarinfo/?locale=es_LA" target="_blank">
            <img src="../img/facebook.png" alt="Facebook">
          </a>
          <a href="https://www.instagram.com/compensar_info/" target="_blank">
            <img src="../img/instagram.jpg" alt="Instagram">
          </a>
             <a href="https://x.com/Compensar_info" target="_blank">
            <img src="../img/x.jpg" alt="X">
          </a>
        </div>
      </footer>

   </div>

</body>
</html>
